html
  height: 100%
  overflow-x: hidden !important
  overflow-y: scroll

body
  display: flex
  flex-direction: column
  min-height: 100%
  width: 100%
  position: relative
  margin: 0
  padding: 0

#root
  background: #f9fafb  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f9fafb, #f3f6fc)  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f9fafb, #f3f6fc) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex
  flex: 1 1 auto
  flex-direction: column
  margin: 0
  min-height: 100%
  padding: 0


.page
  position: relative
  flex: 1 1 auto
